@font-face {
  font-family: "Gotham";
  src: url("../src/fonts/GothamBlack.woff2") format("woff2"),
    url("../src/fonts/GothamBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/fonts/Gotham-Thin.woff2") format("woff2"),
    url("../src/fonts/Gotham-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.container-nav {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
img {
  max-width: 100%;
  height: auto;
}

.sec__one {
  position: relative;
  width: 100%;
  display: flex;
  padding: 60px 0;
}
.sec__one h1 {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #07a8ff;
  font-family: "Inter", sans-serif;
}
.navBar .logo img {
  float: left;
  max-height: 120px;
}
.is-active {
  color: #ff5800 !important;
}

.navBar .col-md-3 {
  z-index: 7;
}
ul.main-menu {
  display: inline-flex;
  list-style: none;
  margin: 0px auto 0;
  padding: 0;
  float: right;
  z-index: 7;
}
ul.main-menu > li.menu-item:first-child {
  padding-left: 0;
  margin-left: 0;
}
.menu-item {
  line-height: 23px;
}
li {
  list-style-type: none;
}
.menu-item a {
  font-size: 19px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  display: block;
  /* color: #545050; */
  color: #fff;
  margin: 27px 17px;
  text-decoration: none;
  cursor: pointer;
}

.header__middle__logo {
  width: 20%;
  display: inline-block;
  float: left;
}
.header__middle__menus {
  width: 70%;
  display: inline-block;
  float: left;
}
.menu-item.menu__qqqitem a {
  margin: 27px 10px;
}
.header__middle__search {
  width: 7%;
  display: inline-block;
  float: right;
  padding: 36px 3px 27px 3px;
  border-left: 1px solid lavender;
}
.header__middle {
  display: flex;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
}
.header__middle__logo > a > h1 {
  color: #07a8ff;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 33px;
}
/* .active{
  color: #ff1800!important;
} */
.header__middle__menus span.text {
  position: absolute;
  right: 177px;
  bottom: 10px;
  font-size: 14px;
  color: #ff1800;
}
.sub__menus__arrows {
  position: relative;
}
.sub__menus__arrows svg,
.sub__menus__arrows__full svg {
  padding-top: 0px;
  position: absolute;
  top: 13px;
}
.sub__menus {
  position: absolute;
  display: none;
  background: rgb(0, 0, 0);
  border: 1px solid lavender;
  width: 227px;
  left: -17px;
  padding: 2px 0 0 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
}

@media (max-width: 767px) {
  .header__middle .active {
    color: #ff3d00 !important;
  }
}

@media (min-width: 992px) {
  .sub__menus__arrows:hover .sub__menus {
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus {
    display: block;
    z-index: 1000000;
  }
}
.menu-item .sub__menus a {
  padding: 7px 0 0px 0;
  margin: 7px 27px;
}
.menu-item:hover > a {
  color: var(--primary-color);
}
.menu-item .sub__menus li:hover a {
  color: var(--primary-color);
}

.header__middle__logo img {
  max-width: 100%;
  margin: 17px 0 0 0;
}

@media (max-width: 991px) {
  .header__middle__logo {
    width: 77%;
  }
  .header__middle__menus {
    width: 20%;
  }
  .header__middle__logo img {
    max-width: 197px;
    margin: 27px 0 0 0;
  }
  .main-nav .menubar__button:hover {
    background-color: #f44336;
  }
  .main-nav .menu-item:hover > a {
    color: #07a8ff !important;
  }
  .main-nav .menubar__button {
    display: block !important;
    float: right;
    background-color: #080808;
    color: #fff;
    padding: 6px 7px;
    border-radius: 5px;
    margin: 27px auto 0;
    cursor: pointer;
    position: relative;
    z-index: 10037;
  }
  .main-nav .menubar__button svg {
    font-size: 27px;
  }
  .main-nav ul.menuq2 {
    display: block !important;
    position: absolute;
    left: 0;
    z-index: 10007;
    background-color: black;
    border-bottom: solid 1px var(--primary-color);
    right: 0;
    padding-bottom: 17px;
    padding-top: 57px;
  }
  .main-nav .menu-item a {
    margin: 10px 17px;
    text-align: center;
    color: white;
  }
  .main-nav ul.main-menu {
    display: none;
  }
  .main-nav .sub__menus__arrows:hover .sub__menus {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .sub__menus__Active {
    display: block !important;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .sub__menus__Active2 {
    display: block !important;
  }
  .menus__categorysss {
    display: none;
  }
  .menus__categorysss2 {
    display: none;
  }
  .menu-item .sub__menus__full a {
    text-align: left;
  }
}

/* Original */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/* Global Styles */
:root {
  --primary-color: orange;
  --dark-color: #131313;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Sofia Pro Bold", sans-serif; */
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #000000;
  color: #fff;
}
.page-container {
  background-color: #060606;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.container-space {
  margin: 200px;
}
/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form input[type="number"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: orange;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: sticky;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  z-index: 150;
  /* font-family: "Sofia Pro Bold", sans-serif; */
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-size: 16px;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Navbar inside */
.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 1rem; */
  width: 100%;
}
/* Landing Page */
.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "exp edu"
    "github github";
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
/* contact form */
/* .container-form {
  max-width: 1320px;
} */

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form input[type="number"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }
  .container-space {
    margin: 200px;
  }
  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    position: sticky;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
/* New Codeeeeeeeeeeeeeee */
/* New Codeeeeeeeeeeeeeee */
/* New Codeeeeeeeeeeeeeee */
/* New Codeeeeeeeeeeeeeee */
/* New Codeeeeeeeeeeeeeee */
/* New Codeeeeeeeeeeeeeee */
/* New Codeeeeeeeeeeeeeee */
/* Hero Section CSS */
.main {
  background-color: #000000;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  /* background-color: #000000; */
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  padding: 0 50px;
}

.main_content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #fccf31 0%, #f55555 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.main_content h2 span {
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
h2 span {
  display: none;
}
h2 span:first-child {
  display: initial;
}
#text {
  font-size: 53px;
  line-height: 1.4;
  letter-spacing: 0;
  font-family: "Gotham", "Helvetica" !important;
  /* color: #060221; */
  text-transform: uppercase;
  font-weight: 800;
}
.small-text {
  font-size: 40px;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #fccf31 0%, #f55555 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  line-height: 1.4;
}
.fa-2x {
  font-size: 2em;
}
.opacity-06 {
  opacity: 0.6;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-21 {
  font-size: 21px !important;
}
.text-white {
  color: #fff !important;
}
.black-text {
  color: black !important;
}
.mask-text {
  overflow: hidden;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.col-md-6 {
  width: 50%;
}
ul,
ol {
  list-style: none;
}
/* 3.38. Liquid Fancy Heading */
.ld-fancy-heading p,
.ld-fancy-heading h1,
.ld-fancy-heading h2,
.ld-fancy-heading h3,
.ld-fancy-heading h4,
.ld-fancy-heading h5,
.ld-fancy-heading h6,
.ld-fancy-heading > div {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.ld-fancy-heading .ld-fh-txt {
  position: relative;
  display: inline-block;
}
.ld-fancy-heading .ld-fh-txt i {
  vertical-align: middle;
}
.ld-fancy-heading.carousel-nav-appended {
  display: -webkit-box;
  display: flex;
  height: auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.ld-fancy-heading.has-mask-image > * {
  background-position: center;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: transparent;
}
.ld-fancy-heading.has-mask-image .ld-fh-txt {
  position: static;
  display: inline;
}
/* .main_btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}
.main_btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.main_btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main_btn:hover {
  color: #fff;
}

.main_btn:hover:after {
  width: 100%;
} */

.main_img-container {
  text-align: center;
}
#artist_img {
  width: 75%;
}
#main_img {
  height: 90%;
  width: 90%;
  /* transform: rotate(-8deg); */
}
.rotate {
  transform: rotate(-8deg);
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.services-social {
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.company-list-section__StyledBalancedColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
}
.company-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.company-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.company-list__item {
  color: #1f2a47;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-top: 1px solid #000c2d; */
  border-bottom: 1px solid #000c2d;
  margin-bottom: -1px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  font-weight: bold;
  font-weight: 600;
}
/* try-now */
.try-now {
  padding: 2.5rem;
  background-color: orange;
}
.promo-seller_content_title {
  padding: 0rem;
}
.container-1 {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
}
.round {
  color: #000;
  border-color: #000;
  border-width: 2px;
  border-radius: 50em;
  /* padding-left: 1rem !important;
  padding-right: 1rem !important; */

  cursor: pointer;
}
.btn {
  border: 2px solid black;
  padding: 0.5rem 1.5rem;
}
.btn-txt {
  font-weight: bold;
}
.btn-light.btn-bordered {
  color: #fff;
  border-color: #000;
}
.btn-light.btn-bordered:hover {
  border-color: #000;
  background-color: #fff;
  color: #000;
}

.btn > span {
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 1.15em 2.1em;
  border-radius: inherit;
  border-color: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
}

/* Footer CSS */
.footer_container {
  background-color: #141414;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer_logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer_links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer_link-wrapper {
  display: flex;
}

.footer_link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-resolution: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer_link-items h2 {
  margin-bottom: 16px;
}

.footer_link-items > h2 {
  color: #fff;
}

.footer_link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

/* Social icons */
.social_icons-link {
  color: #fff;
  font-size: 24px;
}

.social_media {
  max-width: 1000px;
  width: 100%;
}

.social_media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social_logo {
  color: #fff;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website_rights {
  color: #fff;
}
.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
.div-block-22,
.div-block-23,
.div-block-24 {
  width: 33.3%;
  padding-right: 40px;
}
.image-34 {
  width: 120px;
  padding-bottom: 24px;
  opacity: 1;
}
/* .title.xs.left {
  font-size: 24px;
  line-height: 32px;
  text-align: left;
} */

.o-typo--fs-large {
  font-size: 36px;
  color: white;
  text-align: center;
  line-height: 1.4;
}
.Artists_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}
.Artists_artistsCluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 0;
}
.Artists_artists__50zY8 {
  position: relative;
  height: 440px;
  width: 400px;
}
.Artist_artist0__c8o1M {
  top: 0;
  right: 0;
}
.Artist_selected__2rCfa {
  z-index: 1000;
}
.Artist_artist__2zGCA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  /* height: 227px;
  width: 227px; */
  z-index: 100;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.Artist_artist2__ZdGL1 {
  bottom: 0;
  right: 70px;
}
.Artists_tagsCluster__3cJJQ {
  color: white;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.5rem;
  position: relative;
  font-family: "AXIS Extra";
  font-weight: 800;
  font-style: normal;
  /* padding: 150px; */
  margin-top: 150px;
}
.Artists_mobileTags__21xmh {
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.Artists_tag__gNcQp:not(:last-of-type) {
  margin-bottom: 2.5rem;
}
.Artists_tag__gNcQp {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-size: 30px;
  text-transform: uppercase;
  /* -webkit-text-fill-color: transparent; */
  -webkit-text-stroke-width: 1px;
  font-family: "Sofia Pro Bold", sans-serif;
}
.fill-color {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
.Artists_fill {
  font-size: 30px;
  text-transform: uppercase;

  -webkit-text-stroke-width: 1px;
  font-family: "Sofia Pro Bold", sans-serif;
}
/* accordion */
.sk-faq__header {
  font-size: 40px;
}

.sk-faq__header {
  margin-left: 45px;
  margin-bottom: 30px;
}
.sk-faq--light {
  color: white;
}
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.wrapper {
  max-width: 600px;
  padding: 0 20px;
}
.wrapper .parent-tab,
.wrapper .child-tab {
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}
.wrapper .parent-tab label,
.wrapper .child-tab label {
  background: #ff9800;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.wrapper .parent-tab label:hover {
  background: #006fe6;
}
.parent-tab input:checked ~ label,
.child-tab input:checked ~ label {
  border-radius: 3px 3px 0 0;
  background: #ff9800;
}
.wrapper label span {
  color: black;
  font-size: 18px;
  font-weight: 500;
  /* text-shadow: 0 -1px 1px #0056b3; */
}
.wrapper .child-tab label span {
  font-size: 17px;
}
.parent-tab label .icon {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: orange;
  display: block;
  background: #fff;
  border-radius: 50%;
  /* text-shadow: 0 -1px 1px #0056b3; */
}
.wrapper .child-tab label .icon {
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before {
  content: "\f068";
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content {
  max-height: 0px;
  overflow: hidden;
  /* background: #fff; */
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content {
  max-height: 100vh;
}
.tab-3 input:checked ~ .content {
  padding: 15px 20px;
}
.parent-tab .content p,
.child-tab .sub-content p {
  padding: 15px 20px;
  font-size: 16px;
  color: white;
}
.child-tab .sub-content p {
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
/* Services */
.hero-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(.../../img/images/banners/18.png) no-repeat center;
  background-size: cover;
}
.sync-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(.../../img/images/banners/1.png) no-repeat center;
  background-size: cover;
}
.hero-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: (-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 800;
}
.hero-container h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #fccf31 0%, #f55555 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.service-container {
  padding-right: 20% !important;
  padding-left: 20% !important;
  max-width: 88rem;
}
.medium-text {
  font-size: 20px;
}
.medium-text span {
  color: var(--primary-color);
  cursor: pointer;
}
.middle-services {
  background-color: #e5e5e5;
}
@media only screen and (min-width: 31.25em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 31.25em) {
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-4 {
    width: 41.66666667%;
  }
  .col-lg-5 {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
}
/* About Section */
.music-push {
  padding: 10rem 0;
  background-color: #e5e5e5;
  padding-bottom: 120px;
}

.music-push__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.music-push__content {
  color: #fff;
  width: 100%;
}

.music-push__content h1 {
  font-size: 2rem;
  background-color: #000000;
  /* background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%); */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.music-push__content h2 {
  font-size: 1rem;
  background: #000000; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  );  */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  );  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.music-push__content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.music-push__btn {
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.music-push__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.music-push__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff1ead;
  transition: all 0.35s;
  border-radius: 4px;
}

.music-push__btn:hover {
  color: #fff;
}

.music-push__btn:hover:after {
  width: 100%;
}

.music-push__img--container {
  text-align: center;
}

.music-push__content .inside-text {
  font-size: 2rem;
}
.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

.vc_row {
  background-color: #e5e5e5;
  padding-bottom: 90px !important;
  padding-top: 60px !important;
  position: relative;
  display: block;
}
.fancy-title {
  margin-bottom: 60px !important;
  position: relative;
  display: block;
}
.fancy-title h2,
.fancy-title h3,
.fancy-title h4 {
  margin: 0.25em 0;
  color: black;
}
.fancy-title > :first-child {
  margin-top: 0;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.col-md-offset-12 {
  margin-left: 100%;
}
.lqd-column {
  padding-top: 30px;
}
.block-revealer__content {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: inherit;
}
.block-revealer__content img:not(.ld-lazyload) {
  opacity: 1;
}
.vc_row {
  position: relative;
  background-color: black;
}
.pt-pb-160 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.pb-160 {
  /* padding-top: 160px !important; */
  padding-bottom: 160px !important;
}
.pt-160 {
  padding-top: 160px !important;
}
.pt-90 {
  padding-top: 50px !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.mb-md-0,
.my-md-0 {
  margin-bottom: 0 !important;
}
/* artist cards */
.flex-row {
  /* display: flex;
  flex-direction: row; */
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cards {
  /* margin: 0; */
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 20px;
}
.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.card__image {
  width: 100%;
  display: block;
  border-radius: 20px;
}
.card__content {
  padding: 100px;
  /* width: 45%; */
}
.card__content h1 {
  color: #fca311;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.card__content h2 {
  color: #15fc9a;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}
.card__content p {
  color: #e5e5e5;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}
.bx-chevron-right {
  margin-right: 5px;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navbar_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  .button:hover {
    background: #15fc9a;
    transition: all 0.3s ease;
  }
  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Mobile Responsive */
@media screen and (max-width: 1024px) {
  #main_img {
    height: 90%;
    width: 90%;
  }
  .mobile-margin {
    margin: 20px;
  }
  .card__content {
    padding: 50px;
    width: 45%;
  }
  .Artists_mobileTags__21xmh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Artists_desktopTags__XrNgL {
    display: none;
  }
  .Artists_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .Artists_artists__50zY8 {
    position: relative;
    height: 440px;
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .main_container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 160vh;
  }

  .main_content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main_content h2 {
    font-size: 3rem;
  }

  .main-content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .flex-row {
    /* display: flex;
    flex-direction: column; */
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card__content {
    padding: 50px;
    width: 75%;
  }
  .Artists_tagsCluster__3cJJQ {
    padding: 0px 70px;
  }
  .Artists_tag__gNcQp {
    font-size: 18px;
  }

  #text {
    font-size: 47px;
    line-height: 1.4;
    letter-spacing: 0;
    font-family: "Gotham", "Helvetica";
    color: #060221;
    text-transform: uppercase;
  }
  .small-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 3000px) {
  #text {
    font-family: "Gotham", "Helvetica" !important;
  }
}
@media screen and (max-width: 540px) {
  .cards {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(1, minmax(180px, 1fr));
    gap: 20px;
  }
  .div-block-22,
  .div-block-23,
  .div-block-24 {
    width: 100%;
    padding-right: 40px;
  }
  .div-block-25 {
    max-width: 200px;
    flex-direction: column;
  }
  .o-typo--fs-large {
    font-size: 28px;
  }
  .container-1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
  }
  .card__content {
    padding: 0px;
    width: 100%;
  }
  .Artists_tag__gNcQp {
    font-size: 20px;
  }
  .div-block-25 {
    max-width: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .logo-dark {
    width: 270px;
    padding: 10px 0;
  }
  #text {
    font-size: 25px;
  }
  .music-push__content {
    color: #fff;
    width: 100%;
  }
  .main_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main_content h2 {
    font-size: 2rem;
  }

  .main-content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  /* .main_btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  } */
  .music-push__content h1 {
    font-size: 1.5rem;
  }
  .o-typo--fs-large {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 1.4;
  }
  #main_img {
    height: 100%;
    width: 75%;
  }
  .Artist_artist2__ZdGL1 {
    right: 0px;
  }
  .Artists_artists__50zY8 {
    height: 440px;
    width: 400px;
  }
  .div-block-25 {
    max-width: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog__page {
    padding: 30px 0px;
  }
  .card__content h1 {
    font-size: 1.2rem;
  }
  .image-34 {
    width: 85px;
    padding-bottom: 24px;
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .services {
    height: 1600px;
  }

  .services h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
  .div-block-25 {
    max-width: 1500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .services {
    height: 1400px;
  }

  .services h1 {
    font-size: 1.2rem;
  }

  .services_card {
    width: 300px;
  }
  .company-list-section__StyledBalancedColumns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 48px;
    column-gap: 48px;
  }
}
@media screen and (max-width: 320px) {
  .logo-dark {
    width: 250px;
    padding: 10px 0;
  }
  .div-block-25 {
    max-width: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .footer_links {
    padding-top: 2rem;
  }

  #footer_logo {
    margin-bottom: 2rem;
  }

  .website_rights {
    margin-bottom: 2rem;
  }

  .footer_link-wrapper {
    flex-direction: column;
  }

  .social_media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer_link-items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

.FaPlus {
  height: 20px;
  width: 30px;
  margin: 5px 0px;
}
